<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route routeNo="15" totalDistance="699" tripTime="5">
    <stop1>HWTTC</stop1>
    <distance1>95</distance1>
    <stop2>HAGPRKRD01</stop2>
    <distance2>233</distance2>
    <stop3>HAGPRKRD02</stop3>
    <distance3>371</distance3>
    <stop4>HAGPRKRD03</stop4>
    <distance4>0</distance4>
  </route>
  <route routeNo="16" totalDistance="1859" tripTime="15">
    <stop1>HWTTC</stop1>
    <distance1>95</distance1>
    <stop2>HAGPRKRD01</stop2>
    <distance2>233</distance2>
    <stop3>HAGPRKRD02</stop3>
    <distance3>371</distance3>
    <stop4>HAGPRKRD03</stop4>
    <distance4>410</distance4>
    <stop5>HAGPRKRD04</stop5>
    <distance5>467</distance5>
    <stop6>HAGPRKRD05</stop6>
    <distance6>283</distance6>
    <stop7>HAGPRKRD06</stop7>
    <distance7>0</distance7>
  </route>
  <route routeNo="17AF" totalDistance="13946" tripTime="50">
    <stop1>HWTTC</stop1>
    <distance1>95</distance1>
    <stop2>HAGPRKRD01</stop2>
    <distance2>233</distance2>
    <stop3>HAGPRKRD02</stop3>
    <distance3>371</distance3>
    <stop4>HAGPRKRD03</stop4>
    <distance4>410</distance4>
    <stop5>HAGPRKRD04</stop5>
    <distance5>467</distance5>
    <stop6>HAGPRKRD05</stop6>
    <distance6>283</distance6>
    <stop7>HAGPRKRD06</stop7>
    <distance7>362</distance7>
    <stop8>HAGPRKRD07</stop8>
    <distance8>443</distance8>
    <stop9>HAGPRKRD08</stop9>
    <distance9>333</distance9>
    <stop10>HAGPRKRD09</stop10>
    <distance10>138</distance10>
    <stop11>HAGPRKRD10</stop11>
    <distance11>301</distance11>
    <stop12>HAGPRKRD11</stop12>
    <distance12>4272</distance12>
    <stop13>PTMRMALL01</stop13>
    <distance13>458</distance13>
    <stop14>PSGFRTD01</stop14>
    <distance14>192</distance14>
    <stop15>PTMRPWY01</stop15>
    <distance15>297</distance15>
    <stop16>PTMRPWY02</stop16>
    <distance16>158</distance16>
    <stop17>PTMRPWY03</stop17>
    <distance17>181</distance17>
    <stop18>PTMRPWY04</stop18>
    <distance18>170</distance18>
    <stop19>PTMRPWY05</stop19>
    <distance19>127</distance19>
    <stop20>PTMRPWY06</stop20>
    <distance20>96</distance20>
    <stop21>PRTHENDR01</stop21>
    <distance21>262</distance21>
    <stop22>PRTHENDR02</stop22>
    <distance22>203</distance22>
    <stop23>PRTHENDR03</stop23>
    <distance23>158</distance23>
    <stop24>PRTHENDR04</stop24>
    <distance24>556</distance24>
    <stop25>MUBLVD01</stop25>
    <distance25>205</distance25>
    <stop26>MUBLVD02</stop26>
    <distance26>232</distance26>
    <stop27>MUBLVD03</stop27>
    <distance27>306</distance27>
    <stop28>MUBLVD04</stop28>
    <distance28>56</distance28>
    <stop29>BRAE01</stop29>
    <distance29>124</distance29>
    <stop30>BRAE02</stop30>
    <distance30>114</distance30>
    <stop31>GPTMR01</stop31>
    <distance31>153</distance31>
    <stop32>GPTMR02</stop32>
    <distance32>402</distance32>
    <stop33>GPTMR03</stop33>
    <distance33>308</distance33>
    <stop34>GPTMR04</stop34>
    <distance34>307</distance34>
    <stop35>GPTMR05</stop35>
    <distance35>254</distance35>
    <stop36>GPTMR06</stop36>
    <distance36>171</distance36>
  </route>
</routes>